.footer-header {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.footer-header h2 {
	height: 50%;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Calligraffitti";
}

@media screen and (max-width: 1300px) {
	
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .footer-header h2 {
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 575px) {
    .footer-header h2 {
		font-size: 3rem;
	}
}

@media screen and (max-width: 384px) {
    
}