.home-services {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-services-container {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-services-title {
    font-size: 7rem;
    height: 10%;
    width: 100%;
    text-align: left;
}

.home-services-info {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-services-text {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
}

.home-services-text ul {
    font-size: 1.7rem;
    height: 70%;
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    list-style: none;
    text-align: left;
}

.home-services-info img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

.home-join-button-Link {
    text-decoration: none;
}

.home-join-button {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border-radius: 2rem;
    cursor: pointer;
	margin-bottom: 1.75rem;
    width: 11rem;
    height: 3.5rem;
    border: none;
    background-color: #d1d7f5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
}

.home-join-button:hover {
    background-color: rgb(52, 73, 168, 0.3);
}

.home-join-button .button-default-text {
    display: flex;
    overflow: hidden;
}

.home-join-button:hover .button-default-text {
    position: absolute;
}

.home-join-button:hover .button-default-text span {
    -moz-transform: translateY(1.2em);
    -ms-transform: translateY(1.2em);
    -o-transform: translateY(1.2em);
    transform: translateY(1.2em);}

.home-join-button .button-default-text span {
    transition: 0.2s;
}

.home-join-button .button-hover-text {
    display: flex;
    position: absolute;
    overflow: hidden;
}
.home-join-button .button-hover-text span {
    -moz-transform: translateY(-1.2em);
    -ms-transform: translateY(-1.2em);
    -o-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
    transition: 0.2s;
}

.home-join-button:hover .button-hover-text span {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media screen and (max-width: 1410px) {
    .home-services-title {
        font-size: 6rem;
    }

    .home-services-text ul {
        font-size: 1.5rem;
    }

    .home-join-button {
        width: 10rem;
        height: 3rem;
    }

    .home-services-info {
        height: 50%;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1024px) {
    .home-services-title {
        font-size: 5rem;
    }

    .home-services-text ul {
        font-size: 1.3rem;
    }

    .home-join-button {
        width: 9rem;
        height: 2.5rem;
    }

    .home-services-info {
        height: 40%;
        display: flex;
        flex-direction: row;
    }

    .home-services-info img {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .home-services-title {
        font-size: 4rem;
    }

    .home-services-text ul {
        font-size: 1rem;
    }

    .home-join-button {
        width: 8rem;
        height: 2.5rem;
    }

    .home-services-info {
        height: 30%;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 575px) {
    .home-services {
        height: 50vh;
    }

    .home-services-container {
        height: 70%;
        justify-content: space-between;
    }

    .home-services {
        height: 90vh;
    }
    
    .home-services-title {
        font-size: 3rem;
    }

    .home-services-text ul {
        font-size: 1rem;
    }

    .home-join-button {
        width: 7rem;
        height: 2.5rem;
    }

    .home-services-info {
        height: 20%;
        display: flex;
        flex-direction: column-reverse;
    }

    .home-services-info img {
        width: 100%;
    }
    
    .home-services-text {
        width: 100%;
        flex-direction: row;
        align-items: flex-end;
    }
}

@media screen and (max-width: 384px) {

    .home-services-title {
        font-size: 2rem;
    }

    .home-services-text ul {
        font-size: 0.8rem;
    }

    .home-join-button {
        width: 6rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .home-services-info {
        height: 20%;
        display: flex;
        flex-direction: column-reverse;
    }

    .home-services-info img {
        width: 100%;
    }
    
    .home-services-text {
        width: 100%;
        flex-direction: row;
        align-items: flex-end;
    }
}
