.quick-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.quick-links-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 50%;
	height: 100%;
}

.quick-links-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10%;
	font-size: 1.2rem;
}

.quick-links-logo {
	height: 50%;
}

.quick-links-buttons {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.quick-links-buttons a {
    text-decoration: none;
    color: #000;
}

.quick-links-buttons button {
    padding: 15px;
    font-size: 0.95em;
    font-weight: 400;
    position: relative;
    background-color: transparent;
    border: none;
}

.quick-links-buttons button:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.quick-links-buttons button:hover:after {
    width: 100%;
    left: 0;
}

.links-contact-info img { 
	height: 2.5rem;
	width: auto;
}

.links-contact-info {
	height: 10%;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}