.services-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.services-option-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services-option-circle {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 50%;
    background: rgb(52, 73, 168);
    background: linear-gradient(
        135deg,
        rgba(52, 73, 168, 0.6) 35%,
        rgba(234, 247, 217, 0.6) 100%
    );
    position: relative;
}

.services-option-circle h2 {
    text-transform: uppercase;
    width: 80%;
    height: 20%;
    text-align: center;
    color: white;
    font-size: 1rem;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 50%;
}

.services-option-description {
    width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: first baseline;
	align-items: center;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .services-option-circle h2 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .services-option {
        width: 35%;
    }

    .services-option-container {
        height: 80%;
    }

    .services-option-circle h2 {
        width: 90%;
    }

    .services-option-description {
        width: 80%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 575px) {
    .services-option {
        width: 60%;
        height: 50vh;
        justify-content: space-evenly;
    }

    .services-option-circle {
        width: 85%;
        padding-bottom: 85%;
    }

    .services-option-description {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .services-option {
        width: 80%;
    }
}

@media screen and (max-width: 368px) {
    .services-option {
        width: 90%;
    }
}