.execboard {
    height: 210vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.execboard-container {
    width: 85%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.execboard-text {
	width: 100%;
    height: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: first baseline;
    font-size: 0.7rem;
    font-weight: 200;
    text-transform: uppercase;
}

.execboard-rows {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 1270px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 575px) {
	.execboard {
        height: 420vh;
    }
}

@media screen and (max-width: 384px) {
    
}